<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho Final</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="center-line"></div>
        <img src="https://i.ibb.co/4Y3KcrH/logo.png" alt="logo" class="logo-image">
    <div class="background">
 
        <div class="login-box">
            <form action="/login" method="post">
                <h2>Login</h2>
                <div class="input-group">
                    <label for="usuario">Usuário</label>
                    <input type="text" id="usuario" name="usuario" required placeholder="seu nome de usuário">
                </div>
                <div class="input-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" required placeholder="sua senha">
                </div>
                <button type="submit">Entrar</button>
            </form>
            <a href="/cadastro"><button class="register-btn">Não possuo cadastro</button></a>
        </div>
    </div>
</body>
</html>
